alias javascaled="java -Dsun.java2d.uiScale=2.5"
alias tr="tree"
alias ..="cd .."
alias gs="git status"
alias ls="eza"
alias ll="eza -lah"
alias la="eza -la"
alias cd..="cd .."
alias vim="nvim"

alias update="sudo dnf -y update && flatpak -y update"

monitor () {
  xrandr --output DP-3 --auto --right-of eDP-1
  xrandr --output DP-3 --scale 2x2
}
