alias javascaled="java -Dsun.java2d.uiScale=2.5"
alias tr="tree"
alias ..="cd .."
alias gs="git status"
alias ls="eza"
alias ll="eza -lah"
alias la="eza -la"
alias cd..="cd .."
alias vim="nvim"

alias update="sudo dnf -y update && flatpak -y update"
alias pione="ssh kali@192.168.1.122"
alias pitwo="ssh pitwo@192.168.1.121"
alias minecraft="~/Aplikazioak/Minecraft/minecraft-launcher/minecraft-launcher &"
